*{
    margin: 0;
    padding: 0;
    font-family: Edwardian Script ITC;
    list-style: none;
    
}
body{
    width:100vw;
    overflow-x: hidden;
}
nav{
    width: 100%;
    background-color:rgb(73, 142, 109);
    color: black;
    display: flex;
    justify-content: space-between;
    
}

h1{
    font-family: Edwardian Script ITC;
}

ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;

        
}
li{
    color:black;
    cursor: pointer;
}
li:hover{
color: rgb(193, 220, 243);
}
input{
    width: 30%;
    background-color: rgb(167, 214, 150);
}
.Searchbar{
    text-align: center;
    background-color:rgb(167, 214, 150);
    
}

.resize-image{
    width: 400px;
    height: 300px;
    object-fit: cover; 
    display: flex;
    justify-content: center;
    


}
.box{
    display: inline-block;
    width: 100%;
    background-color:rgb(167, 214, 150);
    
}
.Hob{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(167, 214, 150);
    margin-top: 10px;
    
    
}
.about{
    text-align: center;
    margin-top: 10px;
    background-color: rgb(167, 214, 150);
}
.Contact{
    background-color: rgb(167, 214, 150);
    color: black;
    text-align: center;
    margin-top: 10px;
    font-family: Edwardian Script ITC;
}

@media screen and (max-width:600px){
    
    .Searchbar{
        background-color: rgb(143, 143, 69);
        width: 100%;
    }
     .resize-image{
        width: 50%;
        background-color: rgb(143, 143, 69);
    }
    .box p {
        width: 100%;
        background-color: rgb(143, 143, 69);
    }
    .box{
        width:100%;
        background-color: rgb(143, 143, 69);
    }
    nav{
     width:100%;
     background-color: rgb(143, 143, 69);
         }
         ul{
            width:100%;
         }
         .Hob{
            width:100%;
            background-color: rgb(143, 143, 69);
            
         }
         .about{
            width:100%;
            background-color: rgb(143, 143, 69);
         }
         .Contact{
            width:100%;
            background-color: rgb(143, 143, 69);
         }
         input{
            background-color: rgb(231, 231, 189);
         }
}
