*{
    margin: 0;
    padding: 0;
    font-family: Edwardian Script ITC;
    list-style: none;
    
}
body{
    width:100vw;
    overflow-x: hidden;
        background-color:rgb(167, 214, 150);
        text-align: center;

}
nav{
    width: 100%;
    background-color:rgb(73, 142, 109);
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

h1{
    font-family: Edwardian Script ITC;
}

ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    align-items: center;

        
}
li{
    color:black;
    cursor: pointer;

}
li a{
    text-decoration:none;
    color: black;
}
li a:hover{
color: rgb(193, 220, 243);
}
input{
    width: 30%;
}
.Searchbar{
    text-align: center;
    padding: 10px;
    
}

.resize-image{
    width: 400px;
    height: 300px;
    object-fit: cover; 
    padding-bottom: 10px;

}
.box{
    display: flex;
    width: 100%;
    align-items: center;   
    flex-direction: column;
    padding-right: 30px;
    
}
.Hob {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    padding-bottom: 20px;
       
    
}
.about{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.Contact{
    color: black;
    text-align: center;
    margin-top: 10px;
    font-family: Edwardian Script ITC;
}

@media screen and (max-width:600px){

   
    .Searchbar{
        background-color: rgb(143, 143, 69);
        width: 100%;
                font-family: Edwardian Script ITC;

    }
     .resize-image{
        width: 50%;
        background-color: rgb(143, 143, 69);
    }
    .box p {
        width: 100%;
        background-color: rgb(143, 143, 69);
                font-family: Edwardian Script ITC;

    }
    .box{
        width:100%;
        background-color: rgb(143, 143, 69);
                font-family: Edwardian Script ITC;

    }
    nav{
     width:100%;
     background-color: rgb(143, 143, 69);
             font-family: Edwardian Script ITC;

         }
         ul{
            width:100%;
         }
         .Hob{
            width:100%;
            background-color: rgb(143, 143, 69);
                    font-family: Edwardian Script ITC;

            
            
         }
         .about{
            width:100%;
            background-color: rgb(143, 143, 69);
                    font-family: Edwardian Script ITC;

         }
         .Contact{
            width:100%;
            background-color: rgb(143, 143, 69);
                    font-family: Edwardian Script ITC;

         }
         input{
            background-color: rgb(231, 231, 189);
                    font-family: Edwardian Script ITC;

         }
}
