*{
    margin: 0;
    padding: 0;
    font-family: Edwardian Script ITC;

    
}
nav{
    background-color:rgb(73, 142, 109);
    color: black;
    
}

h1{
    font-family: Edwardian Script ITC;
}

li, h1, ul{
    display: inline;
}
ul{
    margin-left: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
li{
    color:black;
    cursor: pointer;
}
li:hover{
color: rgb(193, 220, 243);
}
input{
    width: 30%;
    padding-right: 30px;
    background-color: rgb(167, 214, 150);
}
.Searchbar{
    padding: 20px;
    text-align: center;
    background-color:rgb(167, 214, 150);
}

.resize-image{
    width: 400px;
    height: 300px;
    object-fit: cover;  
}
.box{
    border-color: rgb(167, 214, 150);
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 1220px;
    background-color:rgb(167, 214, 150);
    padding:20px
    
}
.Hob{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(167, 214, 150);
    padding: 20px;
    margin-top: 10px;
    
    
}
.about{
    text-align: center;
    margin-top: 10px;
    background-color: rgb(167, 214, 150);
    padding: 1px;
}
.Contact{
    background-color: rgb(167, 214, 150);
    color: black;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    font-family: Edwardian Script ITC;
}
